<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hejka samochody</title>
</head>
<body>
<div class="page-header">
</div>
<div class="row">
    <div>
        <table>
            <thead>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">imię</th>
                <th class="text-center">id włąsciciela</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.name}"></td>
                <td th:text="${car.customer.id}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>