<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hejka</title>
</head>
<body>
<div class="page-header">
</div>
<form action="#" th:action="@{/home}" th:object="${customer}" method="post">

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="imię"
               th:field="*{firstName}"
        />
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('firstName')}"
             th:errors="*{firstName}">
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="nazwisko"
               th:field="*{lastName}"
        />
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('lastName')}"
             th:errors="*{lastName}">
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text"
               th:field="*{money}" required="required"
        />
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('money')}"
             th:errors="*{money}">
        </div>
    </div>
    <br/>
    <br/>

    <input type="submit" value="Submit"/>

</form>
<div class="row">
    <div>
        <table>
            <thead>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">imię</th>
                <th class="text-center">nazwisko</th>
                <th class="text-center">pieniązki</th>
                <th class="text-center">data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.money}"></td>
                <td th:text="${customer.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>